<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>symfonyProjet</title>
</head>
<body>
<header><h1>bienvenue sur le site<h1>
</header>
<main>
    {% block main %}
    {% endblock %}
    </main>
    <footer><h2>à bientot<h2></footer>
</body>
</html>