{% extends "front/base.html.twig" %}

{% block main %}

	<h2>{{licence.name}}</h2>
	<p>{{licence.description}}</p>
	
  {% for product in licence.products %}
	
	<h3>{{product.name}}</h3>

{% endfor %}


{% endblock %}