{% extends "front/base.html.twig" %}


{% block main %}
<div class="container">
	{% for product in products %}

		<h2>{{ product.name }}</h2>

		<h3>
			{{product.price}}
		</h3>

		<img src="{{ product.media[0].src }}" alt="">

	{% endfor %}
</div>

{% endblock %}